<footer class="padding-top-sm padding-bottom-sm">
    <div class="container-fluid w1280 mobile-full-width">
        <div class="row-fluid hidden-xs">
            <div class="col-sm-8">
                <a class="footer-link">Terms of Use</a>
                <a class="footer-link">Cookie Policy</a>
                <a class="footer-link">Partner Terms</a>
            </div>
            <div class="col-sm-4 text-right">
                <p class="">© 2016 Horse Studio. All Rights Reserved</p>
            </div>
        </div>
        <div class="row-fluid visible-xs">
            <div class="col-sm-8 text-center">
                <a class="footer-link">Terms of Use</a>
                <a class="footer-link">Cookie Policy</a>
                <a class="footer-link">Partner Terms</a>
            </div>
            <div class="col-sm-4 text-center">
                <p class="">© 2016 Horse Studio. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>